@model Upravuvanje.Models.Student

@{
    ViewData["Title"] = "Index";
}
<h3>Студент: @ViewData["Student"]</h3>
<h5>Запишани предмети</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                Предмети
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Измени</a>
                </td>
            </tr>
        }
    </tbody>
</table>
